<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Machine Learning Hoods</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
  </head>

  <body>
    <div class="github-fork-ribbon-wrapper right hidden-xs">
      <div class="github-fork-ribbon">
        <a href="https://github.com/dimroc/machine_learning_hoods">Fork me on GitHub</a>
      </div>
    </div>
    <div class="github-fork-ribbon-wrapper right-bottom visible-xs">
      <div class="github-fork-ribbon">
        <a href="https://github.com/dimroc/machine_learning_hoods">Fork me on GitHub</a>
      </div>
    </div>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
        <h1>
          Machine Learning Manhattan
          <small>(+ cool Brooklyn)</small>
        </h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
