.jumbotron
  %p.lead
    %form.form.form-hood{method: "get"}
      .input-group
        %input.form-control{placeholder: "Place text...", name: "q", type: "search", value: @q}
        %span.input-group-btn
          %button.btn.btn-primary{type: "submit"} Predict Neighborhood

  - if Prediction.present?(@prediction) do
    .prediction.row
      %table.table.table-striped
        - for { label, hood, value } <- prediction_rows(@prediction) do
          %tr{class: "#{String.downcase(label)}" }
            %td.hood= hood
            %td.score= Float.round value, 4
